/MarryMe/*
!/MarryMe/Config
!/MarryMe/Content
#/MarryMe/DerivedDataCache
#/MarryMe/Intermediate
#/MarryMe/Saved
#/MarryMe/Script
!/MarryMe/Source
!/MarryMe/MarryMe.uproject
!/MarryMe/MarryMe.sln
!.gitignore
